# PlanAhead Generated physical constraints 

NET "GPO1[7]" LOC = F9;
NET "GPO1[6]" LOC = E9;
NET "GPO1[5]" LOC = D11;
NET "GPO1[3]" LOC = F11;
NET "GPO1[1]" LOC = E12;
NET "GPO1[0]" LOC = F12;
NET "GPO1[2]" LOC = E11;
NET "GPO1[4]" LOC = C11;

# PlanAhead Generated IO constraints 

NET "GPI1[7]" IOSTANDARD = LVCMOS33;
NET "GPI1[6]" IOSTANDARD = LVCMOS33;
NET "GPI1[5]" IOSTANDARD = LVCMOS33;
NET "GPI1[4]" IOSTANDARD = LVCMOS33;
NET "GPI1[3]" IOSTANDARD = LVCMOS33;
NET "GPI1[2]" IOSTANDARD = LVCMOS33;
NET "GPI1[1]" IOSTANDARD = LVCMOS33;
NET "GPI1[0]" IOSTANDARD = LVCMOS33;
NET "GPO1[7]" IOSTANDARD = LVCMOS33;
NET "GPO1[6]" IOSTANDARD = LVCMOS33;
NET "GPO1[5]" IOSTANDARD = LVCMOS33;
NET "GPO1[4]" IOSTANDARD = LVCMOS33;
NET "GPO1[3]" IOSTANDARD = LVCMOS33;
NET "GPO1[2]" IOSTANDARD = LVCMOS33;
NET "GPO1[1]" IOSTANDARD = LVCMOS33;
NET "GPO1[0]" IOSTANDARD = LVCMOS33;
NET "Clk" IOSTANDARD = LVCMOS33;
NET "GPI1_Interrupt" IOSTANDARD = LVCMOS33;
NET "Reset" IOSTANDARD = LVCMOS33;
NET "UART_Rx" IOSTANDARD = LVCMOS33;
NET "UART_Tx" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

Net "Clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
NET "Clk" LOC = C9;
# set clock period
# NET "Clk" PERIOD = 20ns HIGH 50%;
NET "GPI1_Interrupt" LOC = C7;
NET "Reset" LOC = D7;
NET "UART_Rx" LOC = R7;
NET "UART_Tx" LOC = M14;
NET "GPI1[0]" LOC = L13;
NET "GPI1[1]" LOC = L14;
NET "GPI1[2]" LOC = H18;
NET "GPI1[4]" LOC = H13;
NET "GPI1[6]" LOC = D18;
NET "GPI1[7]" LOC = K17;
NET "GPI1[3]" LOC = N17;
NET "GPI1[5]" LOC = U4;
