
# PlanAhead Generated IO constraints 

NET "CLK_50MHZ" IOSTANDARD = LVTTL;
NET "LEDs[7]" IOSTANDARD = LVTTL;
NET "LEDs[6]" IOSTANDARD = LVTTL;
NET "LEDs[5]" IOSTANDARD = LVTTL;
NET "LEDs[4]" IOSTANDARD = LVTTL;
NET "LEDs[3]" IOSTANDARD = LVTTL;
NET "LEDs[2]" IOSTANDARD = LVTTL;
NET "LEDs[1]" IOSTANDARD = LVTTL;
NET "LEDs[0]" IOSTANDARD = LVTTL;

# PlanAhead Generated physical constraints 

NET "LEDs[7]" LOC = F9;
NET "LEDs[6]" LOC = E9;
NET "LEDs[5]" LOC = D11;
NET "LEDs[4]" LOC = C11;
NET "LEDs[2]" LOC = E11;
NET "LEDs[1]" LOC = E12;
NET "LEDs[0]" LOC = F12;
NET "CLK_50MHZ" LOC = C9;
NET "LEDs[3]" LOC = F11;
