
# PlanAhead Generated IO constraints 

NET "LEDs[3]" IOSTANDARD = LVTTL;
NET "LEDs[2]" IOSTANDARD = LVTTL;
NET "LEDs[1]" IOSTANDARD = LVTTL;
NET "LEDs[0]" IOSTANDARD = LVTTL;
NET "PUSH_BUTTON[1]" IOSTANDARD = LVTTL;
NET "PUSH_BUTTON[0]" IOSTANDARD = LVTTL;
NET "SW0" IOSTANDARD = LVTTL;
NET "SW1" IOSTANDARD = LVTTL;
NET "SW2" IOSTANDARD = LVTTL;
NET "SW3" IOSTANDARD = LVTTL;

# PlanAhead Generated physical constraints 

NET "LEDs[3]" LOC = F12;
NET "LEDs[2]" LOC = E12;
NET "LEDs[1]" LOC = E11;
NET "LEDs[0]" LOC = F11;
NET "PUSH_BUTTON[1]" LOC = V4;
NET "PUSH_BUTTON[0]" LOC = H13;
NET "SW0" LOC = L13;
NET "SW1" LOC = L14;
NET "SW2" LOC = H18;
NET "SW3" LOC = N17;

# PlanAhead Generated IO constraints 

NET "SW0" PULLUP;
NET "SW2" PULLUP;
NET "SW1" PULLUP;
NET "SW3" PULLUP;
NET "PUSH_BUTTON[1]" PULLDOWN;
NET "PUSH_BUTTON[0]" PULLDOWN;
NET "LEDs[3]" DRIVE = 8;
NET "LEDs[2]" DRIVE = 8;
NET "LEDs[1]" DRIVE = 8;
NET "LEDs[0]" DRIVE = 8;
