//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 18 14:09:42 2020
//! **************************************************************************

SCHEMATIC START;
COMP "txd" LOCATE = SITE "M14" LEVEL 1;
COMP "clock" LOCATE = SITE "C9" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

